[class^="img-section"] span {
  font-size: 20px;
  line-height: 1.2;
  padding: 2px;
  margin-left: 10px;
}

[class^="img-section"] span:hover {
text-decoration: underline;
cursor: pointer;
}
.container-item {
  width: 100%;
  height: auto;
  border: 1.5px solid #f6f6f6;
 }

@media screen and (max-width: 720px) {
  .gallery-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-y: scroll;
  }

  .gallery-container {
    margin: 12px 10px;
  }
  .gallery-section img {
    width: 90%;
    height: 80px;
    border-radius: 6px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  [class^="img-section"] {
    padding: 5px;
    display: flex;
    line-height: 1.5;
    font-size: 19px;
  }
  .gallery-section span {
    padding: 4px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 16px;
  }

  .container-item {
    width: 100%;
    height: auto;
    border: 1.5px solid #f6f6f6;
  }
}

@media screen and (min-width: 720px) {
  .gallery-container {
    display: grid;
    margin: -33px 20px;
    grid-template-columns: 100vw;
    grid-template-rows: auto;
  }
  [class^="img-section"] {
    display: flex;
    margin-top: 30px;
    overflow: hidden;
  }

  .gallery-section {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;

    grid-template-rows: auto;
  }

  .gallery-section img {
    width: 30vw;
    height: 7vmax;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
  }
  .container-item {
    margin-top: 15px;
  }
}

@media screen and (min-width: 722px) and (max-width: 1250px) {
  .gallery-section {
    display: grid;
    grid-template-columns: repeat("auto-fit", minmax(40vw, 1fr));
    grid-template-rows: auto;
    border-top: 1px solid #dedede;
    border-spacing: 6ch;
    column-gap: 10px;
  }
  .gallery-container {
    margin-top: 10px;
  }

  [class^="img-section"] span {
    font-size: 17px;
    line-height: 1.3;
  }

  .gallery-section img {
    width: 90%;
    margin-left: auto;
    align-items: center;
    display: block;
    height: 16vmax;
    background-size: cover;
  }

  [class^="img-section"] {
    display: grid;
    grid-row: auto;
    grid-column: auto;
  }
  [class^="img-section"] span {
    text-align: center;
    margin-left: auto;
    width: 92%;
  }
}
